.cell-container {
  width: 35px;
  height: 35px;
  background-color: #acf4e6;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}