.custom-input {
  box-sizing: border-box;
  padding: 6px 12px 6px 12px;
  height: 38px;
  border-radius: .375rem;
  border: 1px solid #868e96;
  margin-bottom: 10px;
  background-color: white;
  color: #000;
}